{% extends "base.html" %} {% block title %}{{ props.title }} {% endblock %} {%
block body %}
<div class="d-flex justify-content-around">
  <h3 class="text-center">
    {{ props.login_type[0].upper()+props.login_type[1:] }} Login
  </h3>
  {% if props.login_type == 'user' %}
  <a
    class="btn btn-secondary"
    href="{{ url_for('admin_login') }}"
    role="button"
  >
    Login as Admin
  </a>
  {% else %}
  <a class="btn btn-secondary" href="{{ url_for('login') }}" role="button">
    Login as User
  </a>
  {% endif %}
</div>

<form
  id="login_form"
  action="/{{props.login_type}}/login"
  method="post"
  class="w-75 m-auto"
>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      name="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
    {% if props.login_type == 'user' %}
    <a class="btn btn-secondary" href="{{ url_for('signup') }}" role="button">
      Signup
    </a>
    {% endif %}
  </div>
</form>

{% endblock %}
